{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
{% include "home/_toast.html.twig" %}
<div class="container-fluid vh-100 d-flex flex-column justify-content-center m-4">
	<div class="row row-cols-1 row-cols-md-2 d-flex justify-content-between">
		<div class="col d-flex flex-column mb-4 align-items-center">
			<h1 class = "display-1 fw-bold text-color">
				Need Craftsman's Services ?</h1>
			<P class = "fw-bold display-6">
				WorkersSpace is the right place for craftsman and self-employed people to meet with people or companies that need their services
			</p>
			<a type="button" class="btn btn-color rounded-pill" href="{{ path('app_service_index') }}">Search</a>
		</div>
		<div class="col d-flex flex-column position-relative">
			<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" fill="#0A4D68" class="bi bi-circle-fill align-self-center mt-5" viewbox="0 0 16 16">
				<circle cx="8" cy="8" r="8"/>
			</svg>
			<img src="{{ asset('build/images/worker.png') }}" class="position-absolute top-50 start-50 translate-middle custom-image" />
		</div>
	</div>
</div>
{% endblock %}
