{% extends 'base.html.twig' %}

{% block title %}Service index
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center align-items-center">
    <hr class="my-auto trait" style="width: 50px; border-width: 2px;">
    <h1 class="px-2 mb-4 text-info">Services</h1>
    <hr class="my-auto trait" style="width: 50px; border-width: 2px;">
</div>
{{ component('search_service') }}

{% endblock %}
                

