{% extends 'base.html.twig' %}

{% block title %}Service index
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center align-items-center">
    <hr class="my-auto trait" style="width: 50px; border-width: 2px;">
    <h1 class="px-2 mb-4 text-info">Services</h1>
    <hr class="my-auto trait" style="width: 50px; border-width: 2px;">
</div>
<div class="row">
    {% for service in services %}
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4 mt-4">
        <div class="text-center">
            <a href="{{ path('app_service_show', {id: service.id})}}">
                <img class="rounded-circle border border-4 border-info transition" src={{service.photo}} alt="Service image" style="width:150px; height:150px; object-fit:cover;">
            </a>
            <div class="pt-2">
                <h5>{{ service.name }}</h5>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col">
        <p>no service found</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
                

