body {
    background-color: #e3f2fd;
}

.text-color{
    color:#0A4D68 ;
}

.btn-color {
    background-color: #0A4D68;
    color: #ffffff; 
    width: 100px;
}
.btn-color:hover {
    background-color: #083b4f; 
}

.custom-image {
    width: auto; /* adjust this as needed */
    height: 700px; /* adjust this as needed */
}

.transition{
    transition: transform 0.2s ease-in-out;
}

.transition:hover {
    transform: scale(1.05)
}


