{% extends 'base.html.twig' %}

{% block title %}Edit Workers{% endblock %}

{% block body %}
    <h1>Edit Workers</h1>

    {{ include('workers/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_workers_index') }}">back to list</a>

    {{ include('workers/_delete_form.html.twig') }}
{% endblock %}
